{
    "presets" : [ "react", "es2015", "stage-2" ],
    "plugins" : [
        "transform-object-assign",
        ["babel-plugin-transform-builtin-extend", {
            "globals": ["Error", "Array"]
        }],
        ["module-alias", [
            { "src": "./server", "expose": "~" },
            { "src": "./app", "expose": "$" }
        ]]
    ],
    "ignore": [
        "node_modules/**/*"
    ]
}
