@import '~bootflat/css/bootstrap.min';
@import '~bootflat/bootflat/scss/bootflat';

.padded {
    padding-bottom: 30px;
}

.logo {
    width: 100%;
}

.navbar, .breadcrumb {
    border-radius: 0px;
    margin-bottom: 0px;
}

.location-winner-box {
    text-align: left;
    display: inline-block;
}
