@import '~bootflat/css/bootstrap.min';
@import '~bootflat/bootflat/scss/bootflat';

.container-custom {
    @extend .container-fluid;
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width: 992px) {
    .container-auction {
        min-height: 833px
    }
}

.padded {
    padding-bottom: 30px;
}

.logo {
    width: 100%;
}

.navbar, .breadcrumb {
    border-radius: 0px;
    margin-bottom: 0px;
}

.location-winner-box {
    text-align: left;
    display: inline-block;
}

.col-center {
    margin: 0 auto;
    float: none;
}

.sunflower-dark {
    color: $sunflower-dark;
}

.navbar-fixed-bottom {
    margin-bottom: 0px;
}
