@import '~bootflat/css/bootstrap.min';
@import '~bootflat/bootflat/scss/bootflat';

.padded {
    padding-bottom: 30px;
}

.logo {
    width: 100%;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}
